- var pageTitle = 'Test'

doctype html
html(lang="en")
  head
    title= pageTitle
  body
    include components/header/header.pug
    h1 Pug - node template engine1
    include components/footer/footer.pug